
<section class="question-text">

  <h2><%= @question.question_text %></h2>

</section>

<section class="question-answers">

  <ul>

    <% @answers.each do |answer| %>

      <% if @question.id == @last_question.id %>

        <a href="/checkscore?answervalue=<%= answer.value %>&currentresult=<%= @result.id %>"><li><%= answer.answer_text %></li></a>

      <% else %>

        <a href="/questions/<%= @question.id + 1 %>?answervalue=<%= answer.value %>&currentresult=<%= @result.id %>"><li><%= answer.answer_text %></li></a>

      <% end %>





    <% end %>

  </ul>

</section>

<section class="feedback">

<p>This is some feedback.This is some feedback.This is some feedback.This is some feedback.This is some feedback.</p>


</section>

